.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    align-items: center;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-name {
    margin-left: 10px;
    font-size: 20px;
}

// 明亮主题样式
.navbar.light {
    background-color: #fff;
    color: #000;
}

.navbar.light .logo-name {
    color: #000;
}

// 暗黑主题样式
.navbar.dark {
    background-color: #333;
    color: #fff;
}

.navbar.dark .logo-name {
    color: #fff;
}

.right {
    display: flex;
    list-style: none;
    padding-right: 20px;

    li {
        padding: 0 8px;
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: #293344;
    }
}

.searchListItemWapper {
    display: flex;
    align-items: center;

    .searchListTitlePrefix {
        width: 10px;
        height: 10px;
        background-color: #4CAF50;
        border-radius: 50%;
        margin-right: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transition: background-color 0.2s ease-in-out;
        /* 增加颜色渐变效果 */
    }


    .searchListTitle {
        font-weight: bold;
        transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
        /* 添加颜色和阴影渐变效果 */
    }

    .searchListTitle:hover {
        color: #0004ff;
        /* 替换为更亮的青色 */
        cursor: pointer;
        text-shadow: 1px 1px 5px rgba(0, 255, 255, 0.7);
        /* 添加柔和的文字阴影 */
    }

    .searchListTitlePrefix:hover {
        background-color: #001aff;
        /* 圆点背景色变化 */
    }
}